<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Makaan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="header.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="search.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="navbar.css"/>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="search.js"></script>

    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

 <script> 

    // function URL_add_parameter( param, value){
        
    // var url        = location.href;
    // var hash       = {};
    // var parser     = document.createElement('a');
    // parser.href    = url;
    // var parameters = parser.search.split(/\?|&/);
    // for(var i=0; i < parameters.length; i++) {
    //     if(!parameters[i])
    //         continue;

    //     var ary      = parameters[i].split('=');
    //     hash[ary[0]] = ary[1];
    // }
    // hash[param] = value;
    // var list = [];  
    // Object.keys(hash).forEach(function (key) {
    //     list.push(key + '=' + hash[key]);
    // });
    // parser.search = '?' + list.join('&');
    // location.href =  parser.href;
    //  //alert(location.href);
    // }  

    function moveTo(a){
       // alert(a);
        //location.href = "https://www.makaan.com/" + a;
        var win = window.open("https://www.makaan.com/" + a, '_blank');
        win.focus();
    }

</script>
</head>
<body>
    <% include partials/header %>
    <% include partials/navbar %>
    <!-- <div class="navbar">

        <div>

                <div class="dropdown_sub">
                        <button class="filter-icon-left">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="17px" height="17px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                    <path d="M-612,320v96h96v-96H-612z M-529,403h-70v-70h70V403z"/>
                                    <path d="M115,131V6H82v125H49v98h33v277h33V229h32v-98H115z M127,209H68v-58h59V209z"/>
                                    <path d="M274,303V6h-34v297h-33v98h33v105h34V401h31v-98H274z M285,381h-58v-59h58V381z"/>
                                    <path d="M431,201V6h-33v195h-34v98h34v207h33V299h31v-98H431z M443,279h-59v-58h59V279z"/>
                                    </svg>
                                <i class="fa fa-caret-down"></i>
                         </button>
                </div> 
                <div class="dropdown_sub">
                        <button class="filter-icon">Filters 
                                <i class="fa fa-caret-down"></i>
                         </button>
                </div> 

            <a href="javascript:URL_add_parameter('listingType','buy');" id="buy">Buy</a>
            <a href="javascript:URL_add_parameter('listingType','rental');"id="rent">Rent</a>

            <div class="dropdown_sub">
                    <button class="dropbtn">Bedrooms 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="javascript:URL_add_parameter('beds','1');">1 BHK</a>
                      <a href="javascript:URL_add_parameter('beds','2');">2 BHK</a>
                      <a href="javascript:URL_add_parameter('beds','3');">3 BHK</a>
                      <a href="javascript:URL_add_parameter('beds','4plus');">4+ BHK</a>
                      <a href="javascript:URL_add_parameter('beds','any');">any</a>                       
                    </div>
                  </div> 

                  <div class="dropdown_sub">
                        <button class="dropbtn">Sort By 
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="javascript:URL_add_parameter('sort','relevance');">Relevance</a>
                          <a href="javascript:URL_add_parameter('sort','popularity');">Popularity</a>
                          <a href="javascript:URL_add_parameter('sort','price-desc');">Price Desc</a>
                          <a href="javascript:URL_add_parameter('sort','price-asc');">Price Asc</a>
                          <a href="javascript:URL_add_parameter('sort','rating');">Seller Rating</a>
                          <a href="javascript:URL_add_parameter('sort','date');">Date Posted</a>
                        </div>
                    </div>     

                    <div class="dropdown_sub">
                            <button class="dropbtn">Price 
                              <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">   
                               <div class="pricing-container">
                                  <div id=".min-pricing"> 
                                        <a href="javascript:URL_add_parameter('min_pricing','10000');">10k</a>
                                        <a href="javascript:URL_add_parameter('min_pricing','100000');">1 L</a>
                                        <a href="javascript:URL_add_parameter('min_pricing','1000000');">10 L</a>
                                        <a href="javascript:URL_add_parameter('min_pricing','10000000');">1 Cr</a> 
                                        <a href="javascript:URL_add_parameter('min_pricing','100000000');">10 Cr+</a>                                                                                                                       
                                        
                                </div>
                                <div id=".max-pricing"> 
                                        <a href="javascript:URL_add_parameter('max_pricing','10000');">10k</a>
                                        <a href="javascript:URL_add_parameter('max_pricing','100000');">1 L</a>
                                        <a href="javascript:URL_add_parameter('max_pricing','1000000');">10 L</a>
                                        <a href="javascript:URL_add_parameter('max_pricing','10000000');">1 Cr</a> 
                                        <a href="javascript:URL_add_parameter('max_pricing','100000000');">10 Cr</a>                              </div>
                            </div> 
                            </div>
                    </div> 

        </div>
          
          </div> -->
    

    <div class="result-container">
            <%- html %> 
            <div class="pagination">

            </div>
    </div>
    
    <script>
        var rental = <%= rental %>;  
        var totalPages = <%= pages %>;
        var currentPage = <%= pageNumber %>;
        var pages = Math.floor(totalPages/20);
        var paginationDiv = document.getElementsByClassName("pagination")[0];
        //alert(typeof rental);
        if(rental)
        document.getElementById('rent').style.color =  "#ff0000";
        else
        document.getElementById('buy').style.color = "#ff0000";
        if(currentPage > 1){

            let a = document.createElement("a");
            a.href = `javascript:URL_add_parameter("page", ${currentPage  - 1})`;
            a.innerHTML = "<";
            paginationDiv.appendChild(a);

        }
        if(currentPage >= 3){
        for(let i = currentPage - 2; i <= currentPage; i++){
           
                let a = document.createElement("a");
                a.href = `javascript:URL_add_parameter("page", ${i})`;
                a.innerHTML = i;
                if(i === currentPage){
                    a.style.color = "#ff0011af";
                }
            
            paginationDiv.appendChild(a);
        }
     }
     else{
        for(let i = 1; i <= currentPage; i++){
           
           let a = document.createElement("a");
           a.href = `javascript:URL_add_parameter("page", ${i})`;
           a.innerHTML = i;
           if(i === currentPage){
               a.style.color = "#ff0011af";
           }
       
       paginationDiv.appendChild(a);
   }

     }

        if(currentPage <= pages - 2)
        for(let i = currentPage + 1; i < currentPage + 4; i++){
            let a = document.createElement("a");
            a.href = `javascript:URL_add_parameter("page", ${i})`;
            a.innerHTML = i;
            paginationDiv.appendChild(a);
        }

        if(currentPage != pages){
            let span = document.createElement("span");
            span.innerHTML = "...";
            paginationDiv.appendChild(span);
            let a = document.createElement("a");
            a.href = `javascript:URL_add_parameter("page", ${pages})`;
            a.innerHTML = pages;
            paginationDiv.appendChild(a);
            let b = document.createElement("a");
            b.href = `javascript:URL_add_parameter("page", ${currentPage  + 1})`;
            b.innerHTML = ">";
            paginationDiv.appendChild(b);
        }       

    </script>
<!-- 
<div class="card_container">
   <div class="card">
        <div class="card_left_div">
            <div class="card_image"></div>
            <div class="card_seller_info">
                <div class="card_seller_image"></div>
                <div class="seller_info">
                    <div class="seller_name">seller_name</div>
                    <div class="seller_profeciency">seller_prof</div>
                </div>
                <div class="seller_rating">5.0</div>
            </div>
        </div>
        <div class="card_right_div">
            <div class="card_heading">
                <div class="card_title">Heading</div> 
                <div class="location">loc</div>
                <hr>
            </div>
            <div class="card_highlights_wrap">
                <div class="card_highlights">
                    <div class="price">
                         <div class="total_price">5CR</div>
                        <div class="price_per_sq">5000/sqft</div>
                    </div>
                    <div class="area">
                        <div class="total_area">1579</div>
                        <div class="area_unit">area in sqft</div>
                    </div>
                    <div class="construction_status">Under Cons</div>
                </div>
                <hr>
            </div>
            <div class="card_info">
                <div class="availability">by 78 dec</div>
                <div class="bathrooms">2 bathrooms</div>
                <div class="floor">2nd of 17th</div>
            </div>
            <div class="card_description"><p>description</p></div>
            <div class="card_buttons">Buttons</div>
        </div>
    </div> 
</div>   -->


    


</body>
</html>