<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="header.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="search.css"/>
    <script src="search.js"></script>
</head>
<body>
    <% include partials/header %>
    <a href="/search?sort=asc"><button>sort asc</button></a>

    
     <%- html %>  
<!-- 
<div class="card_container">
   <div class="card">
        <div class="card_left_div">
            <div class="card_image"></div>
            <div class="card_seller_info">
                <div class="card_seller_image"></div>
                <div class="seller_info">
                    <div class="seller_name">seller_name</div>
                    <div class="seller_profeciency">seller_prof</div>
                </div>
                <div class="seller_rating">5.0</div>
            </div>
        </div>
        <div class="card_right_div">
            <div class="card_heading">
                <div class="card_title">Heading</div> 
                <div class="location">loc</div>
                <hr>
            </div>
            <div class="card_highlights_wrap">
                <div class="card_highlights">
                    <div class="price">
                         <div class="total_price">5CR</div>
                        <div class="price_per_sq">5000/sqft</div>
                    </div>
                    <div class="area">
                        <div class="total_area">1579</div>
                        <div class="area_unit">area in sqft</div>
                    </div>
                    <div class="construction_status">Under Cons</div>
                </div>
                <hr>
            </div>
            <div class="card_info">
                <div class="availability">by 78 dec</div>
                <div class="bathrooms">2 bathrooms</div>
                <div class="floor">2nd of 17th</div>
            </div>
            <div class="card_description"><p>description</p></div>
            <div class="card_buttons">Buttons</div>
        </div>
    </div> 
</div>   -->


    


</body>
</html>